[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	name = oga
	email = oga.ivc.s27@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	st = status
[merge]
	tool = vimdiff
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
