<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>3A584F78-EBA3-4ED5-BA1E-64652C59F4C6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>d</string>
			<key>text</key>
			<string>Weblio</string>
			<key>url</key>
			<string>https://ejje.weblio.jp/turbo/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
